<div class="auth-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="email">Email</label>
    <input
      id="email"
      type="text"
      formControlName="email"
      placeholder="Digite seu usuário"
    />
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <small class="error">O campo usuário é obrigatório.</small>
    </div>

    <label for="password">Senha</label>
    <input
      id="password"
      type="password"
      formControlName="password"
      placeholder="Digite sua senha"
    />
    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <small class="error">O campo senha é obrigatório e deve ter no mínimo 6 caracteres.</small>
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</div>
